html , body {
	height: 100%;
	width: 100%;
	}
@media only screen and (min-width : 1200px) {
    .container { max-width: 1400px !important; } 
}
.maincontainer {
	height: 100vh;
	background-color: #232323;
}
.lblwelcome {
	font-family: Lemon/Milk; 
	color:white;
	font-size: 40px;
	font-weight: bold;
}
.lblwelcome1 {
	font-family: Mont DEMO; 
	color:#c7c8c9;
	font-size: 20px;
}
.hr1 {
	width: 40%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.50), rgba(0, 0, 0, 0));
}
.lblwhat {
	font-family: Mont DEMO;
	color: #a1a2a3;
	font-size: 15px;
	width: 50%;
}
.lblui {
	font-family: Mont DEMO;
	color:#424242;
	font-weight: bold;
	font-size: 30px;
	margin-top: 20px;
}
.lblalpha {
	font-family: muli;
	font-size: 15px;
	color: var(--lightblue);
	font-weight: bold;
}
.lblall {
	font-family: muli;
	color:#616161;
	width: 90%;
}
.lblcolors {
	font-family: Mont DEMO;
	font-weight: bold;
	font-size: 25px;
	color: #424242;
}
.btn-rounded {
	width:82px;
	height: 82px;
	border: 0px;
	margin-right: 10px;
	color:white;
	font-family: muli;
	text-align: center;
}
