body , html {
	width: 100%;
	height: 100vh;
	background-color: #232323;
	scroll-behavior: smooth;
}
.maincontainer {
	height: 100vh;
	background: #232323;
	padding: 0px;
	margin:0px;
}
#particles-js {
	height: 100%;
	z-index: -99999999;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0px;
	margin:0px;
}
.lbltitle {
	width: 100%;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #a5934f;
}
.lblwelcome {
	font-family: Mont DEMO;
	font-weight: normal !important;
	font-size: 55px;
	width: 100%;
	text-align: center;
	color: #a5934f;
	background-color: transparent;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
}
.hr1 {
	width: 40%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.50), rgba(0, 0, 0, 0));
}
.particles-js-canvas-el {
	position: absolute;
	padding: 0px;
	margin:0px;
}
.nav.navbar-nav {
	font-size: 22px;
}
.navbar {
	background: #232323;
	font-family: Madeleina Sans;
	color: #5b5b5b;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
}
.btnportfolio:hover , .btnabout:hover  , .btncontact:hover  {
	color:#a5934f !important;
	cursor:pointer;
	transition: 0.2s;
}

.lblaboutme {
	color: #a5934f;
	font-family: Madeleina Sans;
	font-size: 35px;
	margin-left: 10px;
}
.lblaboutmesub {
	font-family: Madeleina Sans;
	font-size: 20px;
	color: #747475;
	font-style: italic;
	width: 50%;
}
.lblmeet {
	font-family: Madeleina Sans;
	color: #a5934f;
	font-size: 35px;
}
.lblwhatisfusion {
	font-family: Madeleina Sans;
	font-size: 24px;
	color: #747475;
}
.lblwhatisfusion1 {
	font-family: Madeleina Sans;
	font-size: 20px;
	color: #747475;
	width: 50%;
}
.lblcomingsoon {
	font-family: Madeleina Sans;
	font-size: 20px;
	color: #747475;
}
.lblworks {
	font-family: Madeleina Sans;
	color: #a5934f;
	font-size: 35px;
}


.card {
	background-color: #202020 !important;
}
.card-title {
	color:#e8e9ea;
	font-family: Madeleina Sans;
	font-size: 21px;
}
.card-text {
	font-family: Madeleina Sans;
	color: #747475;
	font-size: 20px;	
}
.text-muted {
	font-family: Madeleina Sans !important;
	color:#a5934f !important;
}
.divider {
	width:100%;
	text-align:center;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:38%;
}
.left {
	float:left;
	margin-top: 30px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.50));
	height: 1px;
}

.right {
	float:right;
	margin-top: 30px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.50), rgba(0, 0, 0, 0));
	height: 1px;
}
.lbltemplates {
	font-family: Madeleina Sans;
	color: #a5934f;
	font-size: 35px;
}
.lbltel {
	font-family: muli;
	color: #747475;
	font-size: 15px;
	margin-left: 10px;
}
